body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 255, 0.1); /* Ombre bleue */
    padding: 20px;
}

h1 {
    text-align: center;
    color: #007bff; /* Bleu principal */
}

.conversation {
    height: 300px;
    overflow-y: auto;
    border: 2px solid #007bff; /* Bordure bleue */
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
}

.conversation-list {
    list-style-type: none;
    padding: 0;
}

.user-message {
    background-color: #007bff;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.assistant-message {
    background-color: #aedcff; /* Nuance plus claire de bleu */
    border-radius: 20px;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.system-message {
    background-color: #e0e0e0; /* Gris clair */
    border-radius: 20px;
    padding: 10px 20px;
    margin-bottom: 10px;
}

input[type="text"] {
    width: calc(100% - 70px);
    padding: 10px;
    border: 2px solid #007bff;
    border-radius: 20px 0 0 20px;
    margin-right: -5px;
    box-sizing: border-box;
}

#new-conversation{
    padding: 10px;
    background-color: #0054ae;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-sizing: border-box;
}

#send-btn {
    width: 70px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    transition: background-color 0.3s;
    box-sizing: border-box;
}

.chat-btn {
    width: 150px;
    padding: 6px;
    margin: 6px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-sizing: border-box;
}

#send-btn:hover {
    background-color: #0056b3; /* Nuance plus foncée de bleu */
}

a {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    color: white;
    background-color: #007bff;
    border-radius: 20px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #0056b3; /* Nuance plus foncée de bleu */
}
